body {
  background-color: hsl(217, 28%, 15%);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.partlinksofnav {
  gap: 40px;
  display: flex;
  justify-content: end;
}
.partlinksofnav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.section1 {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.partimgofsection1 img {
  width: 500px;
}

.parttextofsection h1 {
  width: 365px;
  text-align: center;
}
.parttextofsection p {
  width: 406px;
  text-align: center;
  line-height: 23px;
}
.parttextofsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.parttextofsection button {
  width: 204px;
  height: 45px;
  background-color: hsl(198, 60%, 50%);
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.section2 {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part1,
.part2,
.part3,
.part4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 18px 70px;
}
.partup,
.partdown {
  display: flex;
  align-items: center;
}
.section2 p {
  width: 408px;
}
.section3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.part2ofsection3 h1 {
  font-size: 40px;
  width: 330px;
}
.part2ofsection3 p {
  width: 557px;
}
.section4 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat;
  gap: 25px;
  font-size: 14px;
  margin-bottom: 200px;
  background-image: url("./fylo-dark-theme-landing-page-master/fylo-dark-theme-landing-page-master/images/bg-quotes.png");
}
.divofsection4 {
  width: 276px;
  height: 140px;
  padding: 30px;
  background-color: hsl(219, 30%, 18%);
}
.profolio1 {
  display: flex;
  align-items: center;
}
.profolio1 img {
  width: 35px;
  height: 35px;
  border-radius: 40px;
  margin-right: 10px;
}
.divofsection4 p {
  width: 281px;
}
.section5 {
  z-index: 3;
  margin-bottom: -143px;
  top: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.section5 p {
  width: 694px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.section5 h1 {
  width: 400px;
  font-size: 30px;
}
.divsection5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 300px;
  background-color: hsl(219, 30%, 18%);
}
input {
  width: 450px;
  height: 35px;
  border-radius: 25px;
  border: none;
}
.inputandbutton {
  display: flex;
  gap: 40px;
  align-items: center;
}
.inputandbutton button {
  background-color: hsl(176, 68%, 64%);
  border: none;
  border-radius: 25px;
  width: 200px;
  height: 40px;
  color: white;
  cursor: pointer;
}
footer {
  z-index: 1;
  padding-top: 200px;
  padding-left: 90px;
  height: 35vh;
  width: 94%;
  background-color: hsl(216, 53%, 9%);
}
.Contact {
  display: flex;
  justify-content: space-around;
  margin-left: -61px;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  gap: 30px;
  color: aliceblue;
}
.emailandphone {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Contact a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
  margin-top: 40px;
}
li {
  margin-bottom: 10px;
}
